CREATE DATABASE [TemporalTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = NTemporalTest, FILENAME = NF:\Program Files\Microsoft SQL Server\MSSQL13.SQL2K16\MSSQL\DATA\TemporalTest.mdf , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = NTemporalTest_log, FILENAME = NF:\Program Files\Microsoft SQL Server\MSSQL13.SQL2K16\MSSQL\DATA\TemporalTest_log.ldf , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [TemporalTest]
GO
USE [TemporalTest]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = NPRIMARY) ALTER DATABASE [TemporalTest] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
